.card {
    margin: 1rem auto;
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    width: 100vw;
    max-width: 40rem;
  }
  .products h2 {
    color: white;
    margin: 2rem auto;
    text-align: center;
    text-transform: uppercase;
  }
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }